{
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 100,
    "semi": false,
    "tabWidth": 4,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
