.echarts {
    width: 100% !important;
    height: 100% !important;
}

.el-card__header {
    padding: 0 !important;
    border: none !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-s {
    justify-content: flex-start;
}

.flex-c {
    justify-content: center;
}

.flex-e {
    justify-content: flex-end;
}

.flex-v {
    flex-direction: column;
}